<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template by zytheme">
    <link href="~/assets/images/heading/1.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900%7CRuthie%7CAbril+Fatface" rel="stylesheet" type="text/css" defer>
    <!-- Stylesheets
    ============================================= -->
    <link href="~/assets/css/external.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    
    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/navigation.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/assets/js/html5shiv.js"></script>
      <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Galle</title>
</head>

<body>
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
            <nav id="primary-menu" class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="container-bordered">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo" href="/" >
                                <img class="logo-light"  src="~/assets/images/galle/logo.png" alt="Steakin Logo" draggable="false"  width="250px" height="120px">
                                <img class="logo-dark" src="~/assets/images/galle/logo.png" alt="Steakin Logo" draggable="false"width="250px" height="120px">
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                            <ul class="nav navbar-nav nav-pos-right navbar-left">
                                <!-- Home Menu -->
                                <li class="menu-item">
                                    <a href="/" class="menu-item">Anasayfa</a>
                                    
                                    <!-- .mega-dropdown-menu end -->
                                </li>
                                <!-- li end -->
                                <!-- About Menu -->
                                <li class="menu-item">
                                    <a href="/about" data-toggle="">Hakkımızda</a>
                                    
                                </li>
                                <!-- li end -->
                                <!-- About Menu -->
                                <li class="menu-item">
                                    <a href="/Menu" data-toggle="" data-hover="">Menü</a>
                                    
                                </li>
                                <!-- li end -->
                                   <!-- shop Menu -->
                                 <li class="menu-item">
                                    <a href="/product" data-toggle=""  data-hover="shop">Ürünler</a>
                                   
                                </li>
                              
                                <!-- li end -->
                                <!-- Elements Menu -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>
          @RenderBody();

        <footer id="footer" class="footer footer-1 text-center">
            <div class="divider--shape-dark"></div>
            <!-- Widget Section
            ============================================= -->
            <div class="footer--widget text--center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="footer--widget-content">
                                <h3>Follow Us</h3>
                                <div class="footer--social-icons">

                                    <a href="https://www.instagram.com/gallecheesemore/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://wa.me/901111111111"><i class="fa fa-whatsapp"></i></a>

                                </div>
                                <!-- .social-icons end -->
                            </div>
                        </div>
                        <!-- .col-md-4 end -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="footer--widget-content">
                                <img class="mb-20" src="~/assets/images/heading/1.png" height="60" width="60" alt="logo">
                            </div>
                        </div>
                        <!-- .col-md-3 end -->
                        <div class="col-xs-12 col-sm-4 col-md-4">


                            <div class="footer--widget-content">
                                <h3>Adres</h3>
                                <div class="contact-info">
                                    <span>Zafer Caddesi No:36/A Bornova-İzmir</span> <br />

                                    <span>+90(111)111 11 11</span>

                                </div>
                            </div>



                        </div>

                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-widget end -->
            <!-- Copyrights
            ============================================= -->
            <div class="footer--copyright text-center">
                <div class="divider--shape-dark2"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>&copy; 2023 GalleGurme </span>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-copyright end -->
        </footer>
    </div>
    <!-- #wrapper end -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/functions.js"></script>
    <!-- RS5.0 Core JS Files -->
    <script src="~/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <!-- RS Configration JS Files -->
    <script src="~/assets/js/rsconfig.js"></script>
      
            
        @RenderSection("Script",false)
        @RenderSection("Scripts",false)

        </body>