@{
    ViewData["Title"] = "Hakkında";
}


@{
    ViewData["Title"] = "Hakkımızda";
}
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="assets/images/galle/deneme.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Bizi Tanıyın</div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<section id="blog" class="blog blog-single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!-- Blog Entry -->
                <div class="blog-entry">

                    <div class="entry--content">

                        <p>
                            Biz, evlendikten sonra 21 yıl boyunca iş dolayısıyla şehir şehir gezen bir çiftiz. Hayatımızı sürekli hareket halinde geçirerek farklı şehirlerin tarihini, kültürünü ve lezzetlerini keşfettik. Ancak nihayetinde izini sürdüğümüz lezzetli bir yuva bulduk ve İzmir'e yerleşmeye karar verdik. İzmir'in sıcak atmosferi, tarihi zenginlikleri ve tabii ki eşsiz mutfağı, kalbimizi çaldı ve burada bir iş kurma fikri belirdi.
                            İzmir'e yerleştikten 5 sene sonra, Galle Cheese&More'u hayata geçirdik.<br />
                            Bu özel işletmemiz, kaliteli sofra eşlikçileri ve lezzetli peynirlerle dolu bir dünya sunuyor. "Galle" kelimesinin, bizim için anlamı çok özel. Bu yüzden Galle Cheese&More, bizim için yalnızca bir işletme değil, aynı zamanda kalbimizi ve ruhumuzu yansıtan bir hayal.<br />
                            Galle Cheese&More'da, anavatanından getirilen yerli ve ithal peynirlerin bir araya geldiği muhteşem bir reyon bulunuyor. Yaşadığımız şehirlerin sokaklarında dolaşırken keşfettiğimiz yerli peynirlerden, dünyanın dört bir yanından özenle seçilmiş ithal peynirlere kadar geniş bir çeşitlilik sunuyoruz. Her bir peynirin hikayesi, damaklarda unutulmaz bir lezzet bırakıyor ve müşterilerimize farklı kültürleri tatma şansı veriyor.
                            Galle Cheese&More, sadece lezzet dolu peynirlerin bulunduğu bir mekan değil; aynı zamanda sofralarınızı taçlandıracak kaliteli sofra eşlikçileriyle de dolu bir mekan. Lezzetli soslar, zeytinler ve atıştırmalıklar sofralarınıza özel bir şıklık katıyor ve her anı unutulmaz kılıyor. <br />
                            Ürünlerimiz, en doğal ve taze halini koruyarak sofralarınıza ulaşıyor ve sizlere en kaliteli lezzetleri sunuyoruz.
                        </p>
                        <p>
                            Galle Cheese&More, yalnızca bir şarküteri değil, aynı zamanda taze ve enfes lezzetlerin sunulduğu rahat ve keyifli bir kafe ortamına da sahip. Her gün günlük olarak pişen ekmeklerle hazırlanan sandviçler, misafirlerimize doyurucu ve lezzetli bir öğün sunuyor. Galle'nin eşsiz peynirleri ve özenle hazırlanan soslarla birleşerek enfes bir sandviç deneyimi sunuyor.
                            Kafe bölümünde, taze çekilmiş çekirdeklerden yapılan kahveler, misafirlerin gününe enerjik bir başlangıç yapmasını sağlıyor. Galle'nin kafe menüsü, sadece kahveyle sınırlı kalmıyor; çay, bitki çayları ve diğer içeceklerle de geniş bir yelpaze sunuyor.
                            Ve tabii ki, tatlı severler için de çeşit çeşit lezzetler mevcut. Galle'nin ustaları tarafından hazırlanan, ağızda dağılan nefis pastalar, cheesecakeler, kurabiyeler ve tatlı atıştırmalıklar, kafe deneyimini taçlandırıyor. Her bir tatlı, sevgiyle hazırlanan özgün tariflerle müşterilerimizi mutlu etmek için bekliyor.
                            Galle Cheese&More'un kafe bölümü, sıcacık ortamı ve samimi atmosferiyle misafirlerine keyifli bir mola verme fırsatı sunuyor. Hem arkadaşlarla keyifli sohbetler yapabileceğiniz hem de kendi başınıza huzurlu bir an geçirebileceğiniz bir mekan olarak hizmet veriyor. <br />
                            Galle ailesinin bir parçası olan her misafiri, burada sıcak bir kucaklama ile karşılıyoruz.
                            Bizim işletmemiz sadece bir şarküteri değil, aynı zamanda hayatımızın bir parçası ve tutkusudur. Bu tutkuyla yola çıktık ve Galle Cheese&More'u kurduk. Şimdi sizleri de bu lezzet dolu serüvene davet ediyoruz. <br />
                        </p>
                        <p>
                            Her bir müşterimizi Galle ailesinin bir parçası olarak hissediyor ve sofralarınızı bizimle renklendirdiğiniz için teşekkür ediyoruz. Sizlerle beraber daha nice güzel anılar ve lezzetli tatlar paylaşmak dileğiyle... Hoş geldiniz!


                        </p>

                    </div>

                    <!-- .entry-share end -->
                </div>
            </div>
            <!-- .blog-entry end -->


        </div>
        <!-- .col-md-9 end -->
        <!-- .col-md-3 end -->
    </div>
    <!-- .row end -->
    </div>
    <!-- .container end -->
</section>