@{
    ViewData["Title"] = "Anasayfa";
}
        <!-- Hero Section
        ====================================== -->
        <section id="slider" class="slider slide-overlay-dark">
            <!-- START REVOLUTION SLIDER 5.0 -->
            <div class="rev_slider_wrapper">
                <div id="slider1" class="rev_slider" data-version="5.0">
                    <ul>
                        <!-- slide 1 -->
                        <li data-transition="turnoff-vertical"
                            data-slotamount="default"
                            data-easein="Power4.easeInOut"
                            data-easeout="Power4.easeInOut"
                            data-masterspeed="2000">
                            <!-- MAIN IMAGE -->
                            <img src="~/assets/images/galle/slider.jpg" alt="Slide Background Image" width="1920" height="1280">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-130"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--subheadline">Sevgiyle</div>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-65"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--headline">Taze ve Lezzetli</div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="20"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--bio text--center">Galle'de güleryüzlü servisimizi  <br>Siz değerli misafirlerimize rahat ve keyifli bir ortamda sunmaya özen gösteriyoruz </div>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="100"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-responsive="off">
                                <div class="slide-action">
                                    <a class="btn btn--white btn--bordered btn--rounded" href="/menu">Menü</a>
                                </div>
                            </div>

                        </li>

                        <!-- slide 2 -->
                        <li data-transition="parallaxtobottom"
                            data-slotamount="default"
                            data-easein="Power4.easeInOut"
                            data-easeout="Power4.easeInOut"
                            data-masterspeed="2000">
                            <!-- MAIN IMAGE -->
                            <img src="~/assets/images/galle/1slider.jpeg" alt="Slide Background Image" width="1920" height="1280">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-65"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--subheadline">İzmir'in Kaliteyle Buluşma Noktası</div>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--headline">Sofralarınızın Vazgeçilmezleri</div>
                            </div>

                            <!-- LAYER NR. 3 -->
                              <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="100"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-responsive="off">
                                <div class="slide-action">
                                    <a class="btn btn--white btn--bordered btn--rounded" href="/product">Ürünler</a>
                                </div>
                            </div>
                        </li>

                        <!-- slide 3 -->
                        <li data-transition="turnoff"
                            data-slotamount="default"
                            data-easein="Power4.easeInOut"
                            data-easeout="Power4.easeInOut"
                            data-masterspeed="2000">
                            <!-- MAIN IMAGE -->
                            <img src="~/assets/images/galle/falansu.jpg" alt="Slide Background Image" width="1920" height="1280">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-65"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--subheadline">Sizinle tanışmak için sabırsızlanıyoruz.</div>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-whitespace="nowrap"
                                 data-width="none"
                                 data-height="none"
                                 data-frames='[{"delay":1750,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="slide--headline">Bornovadayız!</div>
                            </div>

                            <!-- LAYER NR. 3 -->
                         
                        </li>

                    </ul>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <!-- END OF SLIDER WRAPPER -->
        </section>
        <!-- banner#1

        ============================================= -->
   <section id="banner4" class="banner banner-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="heading heading-1 text--center">
                    <p class="heading--subtitle">Hey!</p>
                    <h2 class="heading--title">Galle'ye Hoşgeldiniz!'</h2>
                    <div class="divider--shape-4"></div>
                    <p class="heading--desc">Amacımız sizi lezzetli yiyeceklerle buluştururken aynı zamanda rahat ve keyili bir ortam sunmak. Ürünlerimizin kalitesine gösterdiğimiz özenin aynısını siz değerli misafirlerimizin rahatı ve mutluluğu için de göstermeye gayret ediyoruz.</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="banner-img mt-20">
                    <img src="assets/images/galle/coff3.jpg" alt="image">
                </div>
            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="banner-img">
                    <img src="assets/images/galle/dene.jpg" alt="image">
                </div>
                <!-- .col-md-3 end -->
            </div>
            <!-- .col-md-3 end -->
        </div>
        <!-- .row end -->
    </div>
   
   </section
        
        <!-- #banner1 end -->
        <!-- Divider #1
        ============================================= -->
       <section id="divider2" class="section-divider3 bg-overlay bg-parallax bg-overlay-dark4">
            <div class="bg-section">
             <img src="~/assets/images/galle/taze.jpg" alt="Background"/>
            </div>
           
       </section>
        <!-- #divider1 end -->
        <!-- Banner#6
        ============================================= -->
        <section id="banner6" class="banner banner-1 text-center pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="banner-panel">
                            <div class="banner--img">
                                <img src="~/assets/images/galle/sandvic (1).jpg" alt="banner img" class="img-responsive">
                            </div>
                            <div class="banner--content">
                                <h4>Taptaze Sandviçler</h4>
                                <p>Günlük pişirilen özel sandviç ekmeklerimizle özenerek yaptığımız birbirinden lezzetli sandviçler siz değerli müşterilerimizi bekliyor.</p>
                            </div>
                        </div>
                        <!-- .banner-panel end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="banner-panel">
                            <div class="banner--img">
                                <img src="~/assets/images/galle/cheesecake.jpg" alt="banner img" class="img-responsive">
                            </div>
                            <div class="banner--content">
                                <h4>Sohbetlerinizin Eşlikçisi</h4>
                                <p>Taze demlenmiş kahvelerimiz, ferahlatıcı içeceklerimiz ve usta ellerden çıkmış leziz tatlılarımızı siz hala denemediniz mi?</p>
                            </div>
                        </div>
                        <!-- .banner-panel end -->
                    </div>
                    <!-- .col-md-4 end -->

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="banner-panel">
                            <div class="banner--img">
                                <img src="~/assets/images/galle/winet .jpg" alt="banner img" class="img-responsive">
                            </div>
                            <div class="banner--content">
                                <h4>Keyif İçin</h4>
                                <p>Dilediğiniz peynirleri kullanarak, mevsim meyveleri ve lezzetli atıştırmalıklarla birlikte kişi sayısı dikkate alınarak sizlere özel tabaklar hazırlıyoruz</p>
                            </div>
                        </div>
                        <!-- .banner-panel end -->
                    </div>
                    <!-- .col-md-4 end -->

                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #banner6 end -->
        <section id="divider2" class="section-divider3 bg-overlay bg-parallax bg-overlay-dark4">
            <div class="bg-section">
             <img src="~/assets/images/galle/a.jpeg" alt="Background"/>
            </div>
            <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-3 text--center">
                    <h2 class="heading--subtitle mb-0 text-white">Peynir tabağı siparişleriniz ve daha fazla bilgi almak için bizimle iletişime geçin</h2>
                    <br />
                    
                      <a href="https://wa.me/901111111111" target="_blank"><img src="/assets/images/galle/beyazwp.png" width="150" height="45" /></a>

                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
           
       </section>
  
        

   



